* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Inter", sans-serif;
  color: #6e7275;
  line-height: 125%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  padding: calc(8rem / 16);
}

p {
  line-height: calc(26rem / 16);
}

strong {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  color: #293145;
}

h1 {
  font-family: "Sora", sans-serif;
  font-size: calc(48rem / 16);
  font-weight: 600;
  color: #293145;
}

h2 {
  font-family: "Sora", sans-serif;
  font-size: calc(40rem / 16);
  font-weight: 600;
  color: #293145;
}

.container {
  width: 100%;
  max-width: 1440px;
}

.row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  padding: calc(19rem / 16) calc(135rem / 16);
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

nav ul {
  gap: calc(50rem / 16);
}

#logo {
  height: 2rem;
}

#hero-page {
  padding: calc(70rem / 16) calc(135rem / 16);
  background: #eff8ff;
}

#hero-img {
  width: calc(500rem / 16);
  height: calc(500rem / 16);
}

#btn-register {
  background: #0f9afe;
  border-radius: calc(50rem / 16);
  margin-top: 3rem;

  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: calc(20rem / 16);

  padding: 1rem calc(36rem / 16);
  border: none;
  cursor: pointer;
}

#functionalities {
  padding: calc(56rem / 16) calc(252rem / 16) calc(109rem / 16);
}

#functionalities div {
  gap: calc(80rem / 16);
}

#functionalities ul {
  width: 100%;
  text-align: center;
}

#functionalities img {
  width: calc(60rem / 16);
  height: calc(60rem / 16);
}

#functionalities li {
  max-width: calc(210rem / 16);
}

#functionalities strong {
  font-size: calc(18rem / 16);
  margin: calc(30rem / 16) 0 1rem;
}

#app {
  padding: calc(38rem / 16) calc(135rem / 16);
  background: #eff8ff;
}

#app h2 {
  font-size: calc(32rem / 16);
}

#app p {
  max-width: calc(444rem / 16);
  margin: calc(24rem / 16) 0 calc(36rem / 16);
}

#app button {
  background: #293145;
  border-radius: calc(8rem / 16);
  padding: calc(10rem / 16) calc(12rem / 16) calc(4rem / 16);
  border: none;
  margin-right: calc(30rem/16);
  cursor: pointer;
}

#app button img {
  height: calc(35rem / 16);
}

#app-img {
  width: calc(400rem / 16);
  height: calc(400rem / 16);
}
